* {
    font-family: sans-serif;
}

root {
    --title-text: 25;
}

body {
    margin: 0;
}

.header-links {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-link {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 2px;
}
