html {
    scroll-behavior: smooth;
}

* {
    font-family: sans-serif;
}

root {
    --title-text: 25;
}

body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    
}

.empty-space {
    margin-top: 200px;
}

.page-header {
    padding: 20px;
    overflow: hidden;
    background-color: lightgray;
    position: fixed;
    top: 0;
    width: 100vw;
}

.header-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.nav-bar-span {
    margin-right: 40px;
}

.title-link {
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
    color: black; 
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
}

.title-link:hover {
    background-color: lightblue;
}

.top-section {
    margin-top: 450px;
    width: 100%;
    margin-bottom: 0px;
}

.section {
    margin-top: 400px;
    width: 100%;
    margin-bottom: 0px;
    background-color: darkgray
}

.contact-section {
    margin: 0;
    width: 100%;
    margin-bottom: 0px;
    background-color: darkgray;
}

.final-section {
    margin: 0;
    width: 100%;
    margin-bottom: 0px;
    background-color: rgb(28, 28, 52);
}

.content-container, .contact-content-container, .about-content-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px;
}

.projects-section-container {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.about-content-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px;
}

.title-header {
    font-size: 10rem;
    padding: 0;
    margin: 0;
}

.projects-header, .contact-header {
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

.projects-header, .projects-subtitle {
    max-width: 1600px;
    margin: 0 auto;
}

.projects-subtitle {
    font-size: 2.5rem;
    padding: 0;
    padding-bottom: 15px;
    padding-top: 5px;
}

.page-subtitle {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.project-carousel-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.project-card {
    width: 100%;
    height: 350px;
    min-width: 600px;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-card:hover {
    background-color: lightblue;
}

.tech-stack-logo {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

.logo-container {
    display: flex;
    justify-content: right;
    margin-bottom: 100px;
}

.project-title {
    font-size: 3rem;
    margin: 0;
}

.project-title-link {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

.project-description {
    font-size: 1.5rem;
    margin-top: 10px;
}

.footer-text {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
}

.about-header {
    font-size: 3rem;
    padding: 0;
    margin-top: 50px;
}

.about-text {
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 1.6;
    text-align: justify;
}


/* EDUCATION SECTION CSS */

.education-info-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.education-element {
    margin-bottom: 50px;
    max-width: 400px;
    background-color: rgb(227, 227, 227);
    border-radius: 25px;
    padding: 50px;
}

.education-title {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.education-subtitle, .education-date, .education-description {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}