* {
    font-family: sans-serif;
}

root {
    --title-text: 25;
}

body {
    margin: 0;
    display: flex;

    
}

.page-header {
    padding: 20px;
    background-color: lightgray;
    position: fixed;
    width: 100vw;
}

.header-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.nav-bar-span {
    margin-right: 40px;
}

.title-link {
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
    color: black; 
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
}

.title-link:hover {
    background-color: lightblue;
}

.second-section {
    width: 100%;
}

.content-container {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
}